.button {
    background: #002d5c;
    border: 1px solid #012b57;
    color: #f7d147;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    padding: 15px 25px;
    text-align: center;
    white-space: nowrap;
}

.button:hover {
    transition: background-color 30ms;
    background: #003172;
}
