* {
    box-sizing: border-box;
}

html,
body,
#__next {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: unset;
    color: unset;
}

body {
    background: #f6f6f6;
    font-size: 20px;
    color: #01274c;
}
