.container {
    padding: 20px 50px;
    margin: 0 auto;
    height: 100%;
    background: #013d77;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: auto;
}

.content {
    max-width: 600px;
    margin: auto;
}

.content p {
    text-align: justify;
    line-height: 35px;
}

.buttons {
    margin-top: 50px;
}

.button {
    margin-left: 30px;
    font-size: 17px;
}

@media only screen and (max-width: 600px) {
    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .button {
        margin: 10px 0;
    }
}
